<!DOCTYPE html>
<html>
<head>
    <title>Common Report</title>
</head>
<body>
    <h1>Common Report</h1>
    <h2>Лучшее время:</h2>
    <ul>
        {% for racer in best_racers %}
            <li>{{ racer.full_name }} | {{ racer.team }} | {{ racer.formatted_time }}</li>
        {% endfor %}
    </ul>
    <h2>Гонщики с неправильным временем:</h2>
    <ul>
        {% for racer in invalid_racers %}
            <li>{{ racer.error_message }} | {{ racer.full_name }} | {{ racer.team }}</li>
        {% endfor %}
    </ul>
</body>
</html>
