<!DOCTYPE html>
<html>
<head>
    <title>Driver Report</title>
</head>
<body>
    <h1>Driver Report</h1>
    <h2>Лучшее время гонщика:</h2>
    <ul>
        {% for racer_key, (formatted_time, full_name, team) in best_racers.items() %}
            <li>{{ full_name }} | {{ team }} | {{ formatted_time }}</li>
        {% endfor %}
    </ul>
    <h4>Гонщик с неправильным временем:</h4>
    <ul>
        {% for racer_key, (error_message, full_name, team) in invalid_racers.items() %}
            <li>{{ error_message }} | {{ full_name }} | {{ team }}</li>
        {% endfor %}
    </ul>
</body>
</html>
