<!DOCTYPE html>
<html>
<head>
    <title>Ordered Report</title>
</head>
<body>
    <h1>Ordered Report</h1>
    <h3>Сортировка:</h3>
<a href="{{ url_for('show_report', order='asc') }}">По возрастанию</a> |
<a href="{{ url_for('show_report', order='desc') }}">По убыванию</a>

    <h2>Лучшее время:</h2>
    <ul>
        {% for racer_key, (formatted_time, full_name, team) in best_racers.items() %}
            <li>{{ full_name }} | {{ team }} | {{ formatted_time }}</li>
        {% endfor %}
    </ul>
    <h2>Гонщики с неправильным временем:</h2>
    <ul>
        {% for racer_key, (error_message, full_name, team) in invalid_racers.items() %}
            <li>{{ error_message }} | {{ full_name }} | {{ team }}</li>
        {% endfor %}
    </ul>
</body>
</html>
